.input-box{
    text-align: center;
}
input[type="text"]{
    height: 40px;
    width: 600px;
    background: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.search-button{
    height: 60px;
    width: 100px;
    background: #F5B041;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.item-list{
    text-align: center;
    margin: 1px 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.food-item{
    background-color: white;
    width: 270px;
    margin: 8px;
}
.food-item img{
    width: 270px;
}
.food-title{
    color: black;
    font-size: 10px;
    padding: 10px;
    text-transform: uppercase;
}
.recipe-details{
    text-align: center;
}
.meals-details-heading{
    padding:10px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.foods-title-details{
    color:black;
    padding:20px 20px;
    font-size: 20px;
}
.each-meal{
    width:600px;
    margin:0 auto;
}
.each-meal img{
    width:100%;
}
.ingredient{
    margin:20px 0px;
    font-size: 20px;
}
.ingredient h3{
    padding:10px;
    margin:10px;
}
.details{
    padding: 20px;
    margin: 10px 20px;
}
.nothingFound{
    color:black;
    padding:20px;
    background-color: cyan;
    font-size: 25px;

}
#detailsDiv{
    display:none;
}
.show{
    display:block;
}